[Desktop Entry]
Name=EchoLLM
Comment=The best AI models, all in one place
Exec=echollm
Icon=${SNAP}/meta/gui/echo_llm.png
Terminal=false
Type=Application
Categories=Utility;Development;AI;
StartupWMClass=echollm
Keywords=ai;chatbot;llm;gpt;assistant;
X-SnapInstanceName=echollm